table{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

th{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

td{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
}