

body{background-image: url('tile.jpg');}

h1 img {
   
 display: block;
    margin-left: auto;
    margin-right: auto;}


    h1{text-align: center;
       font-family: Brush Script MT, Brush Script Std, cursive;
       font-size: 80px;}

    form{text-align: center;
        
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        
    
    }
    
    
      #taskDiv div{float: left;

    
    padding: 25px;

    background-image: url(notebg.png);

    width:180px;
    height:220px;
   
    
    margin-left: 30px;
    
    display: block;
    top: 50%;
    left: 50%;}

    p{margin-bottom: 100px;}
    
       